[user]
	name = Jake Gillespie
{{- if eq (.tools.profile | default "") "work-laptop" }}
	email = jake@deployorigin.com
{{- else }}
	email = jdgillespie91@gmail.com
{{- end }}

[core]
	pager = hunk pager

[diff]
	colorMoved = default

[merge]
	conflictstyle = zdiff3
